@import "/src/styles/index.scss";

.description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  @include lg {
    font-size: 1rem;
  }
}

.skills {
  padding: 0.3rem;
  h3 {
    font-size: 22px;
    font-weight: 500;
    @include lg {
      font-size: 2.5rem;
    }
    @include xs {
      font-size: 2.9rem;
    }

    @include sm {
      font-size: 3.3rem;
    }
  }
  ul {
    margin: 0 1rem;
    li {
      margin: 0.5rem 0;
      list-style-type: disc;
      @include lg {
        font-size: 1rem;
      }
    }
  }
  @include border-block;
  @include lg {
    padding: 1.8rem;
  }

  @include sm {
    font-size: 2.2rem;
    padding: 2rem;
  }

  @include xs {
    font-size: 2.4rem;
    padding: 2.2rem;
  }
}
