@import "/src/styles/index.scss";
.footer {
  width: 100%;
  background-color: #060108;
  padding: 2vh 0;
  text-align: center;
  color: #fff;
  .link {
    text-decoration: underline;
    text-underline-offset: 2px;
    cursor: pointer;
    @include transition(0.15s);
    color: white;
    &:hover,
    &:active {
      color: $cyan;
    }
  }
  @include lg {
    font-size: 1rem;
  }
}
