@import "/src/styles/index.scss";

.container {
  position: sticky;
  height: 3.2rem;
  background-color: rgba(3, 0, 20, 0.1);
  backdrop-filter: blur(10px);
  z-index: 50;
  display: flex;
  top: 0;
  padding: 0 15vw;
  align-items: center;
  justify-content: space-between;
  .burger {
    display: none;
    cursor: pointer;
    .line {
      width: 30px;
      height: 5px;
      background-color: #fff;
      margin: 5px;
      @include transition(0.3s, ease);
    }
  }

  .links {
    display: flex;
    padding: 8px 20px;
    border-radius: 16px;
    align-items: center;
    gap: 2rem;
    a {
      text-decoration: none;
      @include heading(18px);
      @include transition(0.3s);
      padding: 3px 0;
      font-size: 1rem;
      margin: 0;
      font-weight: normal;
      color: white;
      text-shadow: none;
      &:hover {
        cursor: pointer;
        color: white;
      }
    }
  }
}

.buttons {
  display: flex;
  gap: 6px;
  justify-content: center;
  @include lg {
    width: 100%;
  }
  @include transition(0.15s);
  .button {
    color: white;
    background-color: transparent;
    padding: 4px;
    outline: none;
    border: none;
    transition: all 0.15s ease-in-out;
    &:hover {
      cursor: pointer;
      background-color: #232323;
      border-radius: 4px;
    }
  }
  .activeButton {
    color: $cyan;
    background-color: #232323;
    border-radius: 4px;
    padding: 4px;
    outline: none;
    border: none;
  }
}

.active {
  .line:nth-child(1) {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  .line:nth-child(2) {
    opacity: 0;
  }
  .line:nth-child(3) {
    transform: rotate(45deg) translate(-4px, -4px);
  }
}
.menu {
  display: flex;
  flex-direction: column;
  width: 100dvw;
  overflow-x: hidden;
  height: 100dvh;
  justify-content: center;
  align-items: center;
  background-color: #0a0a0a;
  position: absolute;
  left: 0;
  top: 0;
  a {
    color: $cyan;
    font-size: 1.2rem;
  }
}

.menu div {
  margin-top: 1rem;
}

@include lg {
  .container {
    background: none;
    backdrop-filter: blur(0px);
    justify-content: flex-end;
    padding: 1rem 1.8rem;
    align-items: flex-start;
    .links {
      display: none;
    }
    .burger {
      display: block;
    }
    .buttons {
      justify-content: center;
      width: 100%;
      .button {
        padding: 10px;
      }
    }
  }
}
