@import "/src/styles/index.scss";

.container {
  position: sticky;
  height: 4rem;
  background-color: rgba(3, 0, 20, 0.1);
  backdrop-filter: blur(10px);
  z-index: 50;
  display: flex;
  top: 0;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  .burger {
    display: none;
    cursor: pointer;
    .line {
      width: 30px;
      height: 5px;
      background-color: #fff;
      margin: 5px;
      @include transition(0.3s, ease);
    }
  }

  .links {
    display: flex;
    padding: 8px 20px;
    border-radius: 16px;
    background-color: #000000d2;
    align-items: center;
    border: 2px solid darken($cyan, 15%);
    gap: 2rem;
  }

  a {
    cursor: pointer;
    text-decoration: none;
    @include heading(18px);
    @include transition(0.3s);
    padding: 3px 0;
    font-weight: normal;
    color: $text;
    text-shadow: none;
    &:hover {
      color: $cyan;
    }
  }
}

.buttons {
  display: flex;
  gap: 6px;
  justify-content: center;
  @include lg {
    width: 100%;
  }
  @include transition(0.15s);
  .button {
    color: white;
    background-color: transparent;
    padding: 4px;
    outline: none;
    border: none;
  }
  .activeButton {
    color: $cyan;
    background-color: #232323;
    border-radius: 4px;
    padding: 4px;
    outline: none;
    border: none;
  }
}

.active {
  .line:nth-child(1) {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  .line:nth-child(2) {
    opacity: 0;
  }
  .line:nth-child(3) {
    transform: rotate(45deg) translate(-4px, -4px);
  }
}
.menu {
  display: flex;
  flex-direction: column;
  width: 101%;
  height: 100dvh;
  justify-content: center;
  background-color: #0a0a0a;
  position: absolute;
  left: 0;
  top: 0;
  a {
    font-size: 3rem;
  }
}

@include lg {
  .container {
    background: none;
    backdrop-filter: blur(0px);
    justify-content: flex-end;
    padding: 1rem 1.8rem;
    align-items: flex-start;
    .links {
      display: none;
    }
    .burger {
      display: block;
    }
    .buttons {
      justify-content: center;
      width: 100%;
      .button {
        padding: 10px;
      }
    }
  }
}
