@import "/src/styles/index.scss";

.container {
  display: flex;
  flex-direction: row;
  width: 70vw;
  gap: 3rem;
  justify-content: space-between;

  .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .hi {
      @include text-border;
      font-size: 2.5rem;
      font-weight: 500;
    }
    .description {
      font-size: 1rem;
      letter-spacing: 0.05rem;
      max-width: 75%;
      color: #bbbbbb;
      > span {
        color: $cyan;
        font-weight: 700;
      }
    }
    strong {
      text-shadow: none;
      display: inline-block;
      font-size: 2.5rem;
      color: $cyan;
      font-weight: 700;
    }
  }
  .icons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 450px;
      width: 510px;
    }
  }
}
@include lg {
  .container {
    width: 90vw;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    .info {
      .hi {
        font-size: 2rem;
      }
      strong {
        font-size: 2rem;
      }
      .description {
        font-size: 1rem;
        max-width: 100%;
      }
    }
  }
}

@include sm {
  .container {
    width: 90vw;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    .description {
      max-width: 100%;
      font-size: 1rem;
    }
  }
}

@include xs {
  .container {
    width: 90vw;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    .info {
      .hi {
        font-size: 3rem;
      }
    }
    .description {
      font-size: 1rem;
    }
  }
}
