@import "/src/styles/index.scss";

.projects {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
  .container {
    padding: 0.5rem;
    border-radius: 0.4rem;

    .project {
      width: 100%;
      .stack {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }
  }
  .bg-secondary {
    background-color: #fff;
    border: 0.5rem solid transparent;
    &:hover,
    &:active {
      @include border-block(0.5rem);
    }
  }

  .bg-primary {
    background-color: darken($cyan, 10%);
    border: 0.5rem solid transparent;
    &:hover,
    &:active {
      @include border-block(0.5rem, #c7c7c7, #fff);
    }
  }
  @include lg {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;
  }

  @include sm {
    gap: 1rem;
  }
}
