@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  display: flex;
  width: 100%;
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: $text;
  background: #020024;
  background: linear-gradient(0deg, #020118 0%, #0d021d 50%, #10021b 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//----------SCROLL----------//
* {
  --scroll-track-color: #10021d;
  --scroll-thumb-color: #250147;
  --scroll-size: 8px;
}

*::-webkit-scrollbar {
  width: var(--scroll-size);
}

*::-webkit-scrollbar-track {
  background: var(--scroll-track-color);
}

*::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb-color);
  border-radius: 8px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--scroll-thumb-color) var(--scroll-track-color);
  }
}
