@import "mixins";

@mixin container {
  width: 70vw;
  padding: 1rem 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  @include lg {
    width: 90vw;
    gap: 1.2rem;
  }

  @include md {
    gap: 0.8rem;
  }
}

@mixin heading($size: 60px, $color: $cyan) {
  position: relative;
  margin: 0 auto;
  margin-top: 1.8rem;
  padding: 0 0.5rem;
  font-size: $size;
  font-weight: 600;
  overflow: hidden;
  cursor: default;
  text-align: center;
  @include text-border;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    border-radius: 20px;
    left: -100%;
    width: 100%;
    height: 4px;
    z-index: 5;
    background-color: $color;
    transition: left 0.3s ease;
  }
  &:hover {
    &::before {
      z-index: 5;
      left: 0;
    }
  }
}

@mixin text-border($primary: #fff, $secondary: #000) {
  text-shadow:
    -1px -1px 0 $primary,
    0 -1px 0 $primary,
    1px -1px 0 $primary,
    1px 0 0 $primary,
    1px 1px 0 $primary,
    0 1px 0 $primary,
    -1px 1px 0 $primary,
    -1px 0 0 $primary;
  color: $secondary;
}

@mixin border-block($border: 4px, $primary: #a855f7, $secondary: #8844c9) {
  --border-angle: 0turn;
  --main-bg: conic-gradient(from var(--border-angle), #0d021d, #0d021d);

  border: solid $border transparent;
  border-radius: 0.3em;
  --gradient-border: conic-gradient(
    from var(--border-angle),
    transparent 25%,
    #{$primary},
    #{$secondary},
    transparent
  );

  background:
    var(--main-bg) padding-box,
    var(--gradient-border) border-box,
    var(--main-bg) border-box;

  background-position: center center;

  animation: bg-spin 3s linear infinite;

  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
